body{
    background-color: hsl(212, 45%, 89%);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
    font-size: 15px;

}

.imagem {
    margin-top: 10px;
    border-radius: 30px;
}