body{
    background-color: hsl(212, 45%, 89%);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
    font-size: 12px;
}

.imagem {
    padding-top: 10px;
}

h2 {
    font-size: 12px;
    color: hsl(212, 16%, 65%);
    text-align: center;
    padding-bottom: 1.5rem;
    align-items: center;
}